.post-content {
  color: #6d6d6d;
  line-height: 1.8;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10xp;
  border: 1px solid #ddd;
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 30px;
  padding-left: 1em;
  padding-right: 1em;
}
.post-content h1 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
}
.post-content ol {
  padding-left: 20px;
}
.post-content ul {
  padding-left: 20px;
}
.post-content li {
  list-style-type: circle;
}
.post-content pre {
  background-color: #f8f8f8;
  display: block;
  padding: 20px;
  font-size: 14px;
  color: #777777;
  overflow-x: auto;
  font-weight: 600;
}
.post-content pre code {
  background-color: none;
}
.post-content p code {
  font-size: 14px;
  background-color: pink;
  padding: 4px;
}
.post-content blockquote {
  border-left: 5px solid #00bcd4;
  font-style: italic;
  font-weight: 400;
  padding-left: 20px;
  line-height: 30px;
  margin-bottom: 33px;
  margin-left: 0;
}
.post-content p {
  color: #606060;
  font-weight: 400;
  line-height: 1.95;
  margin-bottom: 20px;
}
.post-content img {
  width: 100%;
  display: block;
  height: auto;
}
.post-content a {
  color: #ff4081;
  text-decoration: none;
}
.post-content a:hover {
  color: #444;
}
.post-content a.video {
  display: block;
  line-height: 2.3;
  text-align: center;
}
